html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cards-list {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: repeat(36, 350px);
  justify-content: center;
  gap: 20px;
}

.cards-list__item {
  position: relative;
  max-width: 250px;
  max-height: 350px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-size: 30px;
  perspective: 1000px;
  transition: 1s ease-in;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front-part {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #919995;
  border-radius: 20px;
  padding: 10px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: #fff;
}

.back-part {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden;
}
.back-part img {
  width: 100%;
  height: 100%;
}

.cards-list__item:hover {
  transform: rotateY(-180deg);
}

@keyframes random {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}
.cards-list__item:nth-child(2),
.cards-list__item:nth-child(13),
.cards-list__item:nth-child(21),
.cards-list__item:nth-child(30) {
  animation: random 2s alternate 2 3s;
}

.cards-list__item:nth-child(1),
.cards-list__item:nth-child(11),
.cards-list__item:nth-child(23),
.cards-list__item:nth-child(34) {
  animation: random 2s alternate 2 10s;
}

.cards-list__item:nth-child(3),
.cards-list__item:nth-child(14),
.cards-list__item:nth-child(26),
.cards-list__item:nth-child(32) {
  animation: random 2s alternate 2 17s;
}

.cards-list__item:nth-child(4),
.cards-list__item:nth-child(10),
.cards-list__item:nth-child(22),
.cards-list__item:nth-child(35) {
  animation: random 2s alternate 2 25s;
}

.cards-list__item:nth-child(6),
.cards-list__item:nth-child(16),
.cards-list__item:nth-child(25),
.cards-list__item:nth-child(36) {
  animation: random 2s alternate 2 30s;
}

.cards-list__item:nth-child(8),
.cards-list__item:nth-child(17),
.cards-list__item:nth-child(20),
.cards-list__item:nth-child(31) {
  animation: random 2s alternate 2 35s;
}

.cards-list__item:nth-child(5),
.cards-list__item:nth-child(12),
.cards-list__item:nth-child(29),
.cards-list__item:nth-child(33) {
  animation: random 2s alternate 2 40s;
}

.cards-list__item:nth-child(7),
.cards-list__item:nth-child(18),
.cards-list__item:nth-child(27),
.cards-list__item:nth-child(15) {
  animation: random 2s alternate 2 45s;
}

.cards-list__item:hover {
  animation: none;
}

.front-part__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.front-part__midle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 5px;
}
.front-part__midle .icon {
  width: 50px;
  height: 50px;
}
.front-part__midle .midle-first, .front-part__midle .midle-third {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.front-part__midle .midle-first .icon:nth-child(3),
.front-part__midle .midle-first .icon:nth-child(4), .front-part__midle .midle-third .icon:nth-child(3),
.front-part__midle .midle-third .icon:nth-child(4) {
  transform: rotate(180deg);
}
.front-part__midle .midle-second {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.front-part__midle .midle-second .icon:nth-child(2) {
  transform: rotate(180deg);
}

.front-part__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.front-part__right span,
.front-part__right .icon {
  transform: rotate(180deg);
}

.front-part__left .icon,
.front-part__right .icon {
  width: 20px;
  height: 20px;
}

.number-red {
  color: rgb(231, 36, 36);
}

.front-part__midle-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: inherit;
  padding: 20px 5px;
}
.front-part__midle-item .icon-red, .front-part__midle-item .icon-black, .front-part__midle-item .icon-ace {
  width: 80px;
  height: 80px;
}
.front-part__midle-item .icon-red {
  stroke: rgb(231, 36, 36);
  fill: rgb(231, 36, 36);
}
.front-part__midle-item .icon-black {
  stroke: #000000;
  fill: #000000;
}
.front-part__midle-item .icon-red:nth-child(2), .front-part__midle-item .icon-black:nth-child(2) {
  margin-top: 50px;
  transform: rotate(180deg);
}

* {
  box-sizing: border-box;
  line-height: 1;
  font-size: 16px;
  scroll-behavior: smooth;
}

main {
  padding: 90px 0;
}

main section:not(:last-child) {
  margin-bottom: 50px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px;
}

.visually-headen {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .cards-list {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(20, 350px);
  }
}
@media only screen and (min-width: 1200px) {
  .cards-list {
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(9, 350px);
  }
}

/*# sourceMappingURL=style.css.map */
